﻿body {
    position: relative;
    background-image: url("img/worldmap.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:0;
}

#fixed-icon:hover{
    width: 90px;
}

.navbar-properties {
    height: 70px;
    background-color: #fff;
}

#nav-items{
    color:white;
}

#section1 {
    width: 100px;
    height: 100px;
    position: relative;
}

#bckgrnd-img,
#floating-div 
{
    width: 100%;
    height: 42%;
    position: absolute;
    top: 0;
    left: 0;
}

#floating-div {
    z-index: 10;
    top:125px;
}


.tag {
    float: left;
    position: relative;
    left: 0px;
    top: 110px;
    z-index: 1000;
    background-color: lightgray;
    opacity:0.7;
    width:100%;
    padding: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.fixed-icons-zoomable {
    z-index: 1000;
    width: 67px;
    position: fixed;
    color: white;
    left: 0;
    opacity: 0.7;
    border-radius: 0 5px 5px 0;
    height: 39px;
    font-size: 12px;
    overflow-y: auto;
    background: grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

.dropbtn {
    background-color: lightgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 13.1%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: lightyellow;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content li:hover {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color:lightcoral;
    }

    .dropdown-content span {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: lightcoral;
        color: black;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* ALEX CSS CODE */





